@font-face {
    font-family: "Raleway", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
}
body {
    padding: 0%;
    margin: 0%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
html {
    box-sizing: border-box;
    height: 100%;
}
html:focus-within {
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
header {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000;
    background: linear-gradient(180deg, #000000 0%, #3FA752 100%);
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 55px;
    height: 55px;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 15px;
    text-decoration: none;
}
.nav-home:hover,
.nav-tickets:hover,
.nav-explore:hover,
.nav-contact:hover,
.nav-about:hover {
    background: #3A994C;
    font-size: 18px;
    transition: all .500s;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: #000000;
}
h4 {
    text-align: center;
    font-size: 11.36px;
    font-weight: 700;
    margin: 2vh 1vh 2vh 1vh;
}
.tickets-text {
    color: #000;
    text-decoration: underline;
}
.kids-img {
    width: 100%;
    height: 65vw;
    padding-bottom: 3vh;
}
h1 {
    text-align: center;
    margin: 1vw;
    font-family: Raleway;
    font-weight: 700;
    font-size: 28px;
}
h2 {
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: auto;
}
p {
    font-family: Raleway;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    padding: 0vh 3vh;
}
.teachers-img {
    max-height: 50vh;
    max-width: 30vh;
    display: block;
    margin: 30px auto;
}
.footer-section {
    text-align: center;
    font-family: Raleway;
    font-size: 12px;
    background: #6ea477;
    margin-top: 5vh;
}
.fa-facebook {
    color: #3A599C;
}
.fa-instagram {
    color: linear-gradient(180deg, #5E6AB4 0%, #F15F34 100%);
}
.fa-twitter {
    color: #4099D3;
}
.fa-snapchat {
    color: #F6EA00;
    margin-bottom: 5vh;
}
.footer-logo {
    width: 13vh;
}
.copyright-text {
    text-align: center;
    font-family: Raleway;
    font-size: 2vh;
}
footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid #000;
    background: linear-gradient(180deg, #3FA752 0%, #000000 100%);
    margin-top: auto;
}

/* Media Queries */
@media screen and (min-width: 670px) {
.logo {
    width: 84px;
    height: 90px;
}
nav {
    gap: 2rem;
    font-size: 18px;
}
.nav-home:hover,
.nav-tickets:hover,
.nav-explore:hover,
.nav-contact:hover,
.nav-about:hover {
    background: #3A994C;
    font-size: 20px;
    transition: all .500s;
    border-radius: 5px;
}
h4 {
    font-size: 16px;
}
.kids-img {
    height: 70vh;
}
}

@media screen and (min-width: 900px) {
h4 {
    font-size: 18px;
}
footer {
    height: 70px;
}
}

@media screen and (min-width: 1024px) {
h1 {
    font-size: 34px;
}
h2 {
    font-size: 24px;
}
nav {
    font-size: 20px;
}
.nav-home:hover,
.nav-tickets:hover,
.nav-explore:hover,
.nav-contact:hover,
.nav-about:hover {
    background: #3A994C;
    font-size: 22px;
    transition: all .500s;
    border-radius: 5px;
}
p {
    padding: 0rem 10rem;
}
.footer-section p {
    font-size: 14px;
}
.copyright-text {
    font-size: 14px;
}
}

@media screen and (min-width: 1440px) {
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
nav {
    font-size: 22px;
}
.nav-home:hover,
.nav-tickets:hover,
.nav-explore:hover,
.nav-contact:hover,
.nav-about:hover {
    background: #3A994C;
    font-size: 24px;
    transition: all .500s;
    border-radius: 5px;
}
h4 {
    font-size: 22px;
}
.kids-img {
    height: 70vh;
}
p {
    font-size: 20px;
}
}