@font-face {
    font-family: "Raleway", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
}
body {
    padding: 0%;
    margin: 0%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
html {
    height: 100%;
}
header {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000;
    background-color: #fff;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 50px;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 15px;
}
h4 {
    text-align: center;
    font-size: 14px;
    margin: 2vw 1vw 2vw 1vw;
}
.hero-image {
    width: 100%;
}
h1 {
    text-align: center;
    margin: 1vw;
    font-family: Raleway;
    font-weight: 900;
}
.home-text {
text-align: center;
font-family: Raleway;
font-weight: 500;
margin: 1rem;
}
.exhibition-h1 {
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;

}
.exhibitions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0vw 5vw 0vw 5vw;
}
.ticket-img1 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -2%;
}
.ticket-img2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -2%;
}
.ticket-img3 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -2%;
}
.ticket-img4 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -2%;
}
.rectangle1 {
    width: 99%;
    background-color: #797171;
    border-radius: 0px 0px 10px 10px;
    padding-left: 1vw;
    padding-top: 2vw;
    margin-bottom: 1vw;
}
.rectangle2 {
    width: 99%;
    background-color: #404041;
    border-radius: 0px 0px 10px 10px;
    padding-left: 1vw;
    padding-top: 2vw;
    margin-bottom: 1vw;
}
.rectangle3 {
    width: 99%;
    background-color: #BDBB77;
    border-radius: 0px 0px 10px 10px;
    padding-left: 1vw;
    padding-top: 2vw;
    margin-bottom: 1vw;
}
.rectangle4 {
    width: 99%;
    background-color: #607595;
    border-radius: 0px 0px 10px 10px;
    padding-left: 1vw;
    padding-top: 2vw;
    margin-bottom: 1vw;
}
.ticket-title {
    font-family: Raleway;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}
.ticket-date {
    font-family: Raleway;
    font-weight: 300;
    font-size: 18px;
    margin-top: 2vw;
}
.ticket-info {
    font-family: Raleway;
    font-weight: 400;
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.ticket-button1 {
    border-radius: 10px;
    padding: 5px 5px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 14px;
    background-color: #fff;
    color: #797171;
    margin-bottom: 2vh;
}
.ticket-button2 {
    border-radius: 10px;
    padding: 5px 5px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 14px;
    background-color: #fff;
    color: #404041;
    margin-bottom: 2vh;
}
.ticket-button3 {
    border-radius: 10px;
    padding: 5px 5px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 14px;
    background-color: #fff;
    color: #BDBB77;
    margin-bottom: 2vh;
}
.ticket-button4 {
    border-radius: 10px;
    padding: 5px 5px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 14px;
    background-color: #fff;
    color: #607595;
    margin-bottom: 2vh;
}
.copyright-text {
    text-align: center;
    padding-top: 1%;
}
footer {
    width: 100%;
    height: 50px;
    margin-top: auto;
    border-top: 1px solid #000;
    background-color: #fff;
}